<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sign In</h4>
                    <qr-code [value]="'https://www.freakyjolly.com/'"></qr-code>
                    <form [formGroup]="requiredForm" (ngSubmit)="onLogin()">
                        <div class="mb-2">
                            <label class="form-label">Username</label>
                            <input formControlName="username" [(ngModel)]="user.username" type="text" class="form-control"/>
                        </div>
                        <div *ngIf="requiredForm.controls['username'].invalid
                            && requiredForm.controls['username'].touched" class="form-text">
                            <span class="text-danger" *ngIf="requiredForm.controls['password'].errors?.['required']">
                                * required
                            </span>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Password</label>
                            <input formControlName="password" [(ngModel)]="user.password" type="password" class="form-control"/>
                        </div>
                        <div *ngIf="requiredForm.controls['password'].invalid
                            && requiredForm.controls['password'].touched" class="form-text">
                            <span class="text-danger" *ngIf="requiredForm.controls['password'].errors?.['required']">
                                * required
                            </span>
                        </div>
                        <div class="mb-2">
                            <button class="btn btn-primary">Sign In</button>
                        </div>
                        <p>{{ messageError }}</p>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>