<div class="card">
    <!-- {{user | json}} -->
    <h5 class="card-header" *ngIf="!user.id">New user</h5>
    <h5 class="card-header" *ngIf="user.id">{{ user.firstName }}</h5>

    <ul *ngIf="user && isConfirmDelete" class="list-group list-group-flush">
        <li class="list-group-item">
            Anda yakin mau menghapus data <strong>{{ user.firstName }}</strong>
        </li>
        <li class="list-group-item">
            <button (click)="onDelete()" class="btn btn-danger">Yes</button>
            <button (click)="isConfirmDelete = false"  class="btn btn-primary ms-3">No</button>
        </li>
    </ul>

    <ul *ngIf="!isConfirmDelete" class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="mb-3">
                <label for="" class="form-label">
                    First Name
                </label>
                <input [(ngModel)]="user.firstName" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">
                    Last Name
                </label> 
                <input [(ngModel)]="user.lastName" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">
                    Gender
                </label>
                <input [(ngModel)]="user.gender" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">
                    Phone Number
                </label>
                <input [(ngModel)]="user.phone" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">
                    Email
                </label>
                <input [(ngModel)]="user.email" type="text" class="form-control">
            </div>
        </li>

        <li (click)="showToggle()" *ngIf="!showMore" class="list-group-item">More</li>
        <li (click)="showToggle()" *ngIf="showMore" class="list-group-item">Hide</li>
        
        <li *ngIf="showMore" class="list-group-item">
            <div class="mb-3">
                <label for="" class="form-label">
                    Maiden Name
                </label>
                <input [(ngModel)]="user.maidenName" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">
                    Birthdate
                </label>
                <input [(ngModel)]="user.birthDate" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">
                    Age
                </label>
                <input [(ngModel)]="user.age" type="number" class="form-control">
            </div>
        </li>
        <li class="list-group-item">
            <div class="mb-3 mt-3" *ngIf="!user.id">
                <button (click)="onCreate()" class="btn btn-primary">Save</button>
            </div>
            <div class="mb-3 mt-3" *ngIf="user.id">
                <button (click)="onUpdate()" class="btn btn-primary">Update</button>
                <button (click)="cancel()"  class="btn btn-warning ms-3">Cancel</button>
                <button (click)="isConfirmDelete = true" class="btn btn-danger ms-3">Delete</button>
            </div>
        </li>

    </ul>
    
</div>