<div class="card">
    <div class="card-header">Plan</div>
    <div class="card-body">
        <div *ngFor="let t of tasks" class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{t.title}}</h5>
                <p class="card-content">{{t.description}}</p>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="t.status = statusDoing; onUpdate(t.id, t)" ngbDropdownItem >DOING</button>
                        <button (click)="t.status = statusDone; onUpdate(t.id, t)" ngbDropdownItem >DONE</button>
                        <button (click)="onDelete(t.id)" ngbDropdownItem >DELETE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>