<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-product-form #pf [product]="product"></app-product-form>
        </div>
        <div class="col-md-8">
            <div *ngIf="products.length === 0" class="card">
                <h5 class="card-header">Products</h5>
                <div class="card-body">
                    <h5 class="card-title">Hai, Productmu belum ada</h5>
                    <p class="card-text">Isi product di fom sebelah</p>
                </div>
            </div>
            <div *ngIf="products.length > 0" class="card">
                <h5 class="card-header">Products</h5>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Stock</th>
                                <th>Brand</th>
                                <th>QR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of products" (click)="showDetail(p)">
                            <!-- <tr *ngFor="let p of products" (click)="pf.setProduct(p)"> -->
                                <td>{{ p.title }}</td>
                                <td>{{ p.price | currency }} </td>
                                <td>{{ p.discountPercentage }}%</td>
                                <td>{{ p.stock }}</td>
                                <td>{{ p.brand }}</td>
                                <td><qr-code [value]="p.title"></qr-code></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>